<!DOCTYPE html>
<!--Thymeleaf attribute -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Single Post</title>
    <!--    Thymeleaf attribute container (th: block) used include for header partial named styling-->
    <th:block th:include="/partials/header :: styling"></th:block>
</head>
<body>
<div>
<h3><span th:text="${individualPost.getTitle()}"></span></h3>
<p><span th:text="${individualPost.getBody()}"></span></p>
</div>
<p th:text="${individualPost.getUser().getEmail()}"></p>

<!--    Thymeleaf attribute container (th: block) used replace to include header partial named scripts-->
<th:block th:replace="/partials/header :: scripts"></th:block>
</body>
</html>